# For ash we will want to think about test protocols
__vault*
data/*

# Some substantial exclusions here:
__*/
__test*
.*

# But keep various git and CI items
!.gitignore
!.circleci/
!.builds/
!.github/


# Standardish directories
_build/
build/
develop-eggs/
dist/
eggs/
htmlcov/
lib/
lib64/
log/
parts/
prof/
sdist/
temp/
var/

# Standardish extensions
*.code-workspace
*.coverage
.coverage.*
coverage.xml
.coveralls*
*.bak
*.cprof
*.egg
*.egg-info
*.env
*.log
*.logXX
*.patch
*.pickle
*.py[cod]
*.so
*.swp

# Miscellany
.DS_Store
.installed.cfg
Desktop.ini
pip-log.txt
wily-*
